body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    background-color: #505050;
}

#topPanel {
    margin: 0;
    position: relative;
}

.bannerContainer {
    padding: 0;
}

.bodyC {
    position:relative;
    padding:0;
    background-color:#f1f1f1;
    margin-right:-15px;
}

.clLogo { 
    position:relative;
    top: 50%;
    transform: translateY(-50%);
    left:40px;
}

.mainHead {
    height:110px;
    background-color: #ffffff;
}