// Main Variables
$main-font: "Lato", sans-serif;
$main-fontsize: 16px;

// Colours
$white: #ffffff;
$off-white: #f1f1f1;
$off-white-secondary: #f2f2f2;

$dropdown-circle-background: #eff3f4;
$dropdown-color: #ccc;


$body-background: #505050;


$prof-panel-background: #666;
$prof-panel-top: #690800; 
$prof-panel-nav: #9e9e9e;

$nav-button: #f3d83f;

$sidebar-button-hover: #333;
